/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* خلفية الصفحة */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6cbacc, #92b3bb);
}

/* الحاوية */
#container {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

/* العناوين */
#container .Total_Price {
  color: #2193b0;
}

/* الفورم */
form {
  margin-bottom: 20px;
}

label {
  display: block;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}select,
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

select:focus,
input:focus {
  border-color: #2193b0;
  box-shadow: 0 0 8px rgba(33, 147, 176, 0.5);
}

/* صندوق السعر */
h4 {
  background: linear-gradient(135deg, #f7971e, #ffd200);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

