body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #406286;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background: #718395;
}

#message {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}

