* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: rgb(27, 27, 27);
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  background: white;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
}
.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
}
.car-1 {
  background-image: url(../images/playStation.jpg);
}
.car-2 {
  background-image: url(../images/xbox.jpg);
}
.car-3 {
  background-image: url(../images/nintendo.jpg);
}
.car-4 {
  background-image: url(../images/atari.jpg);
}
.card h2 {
  padding: 10px;
}
.card p {
  padding: 10px;
}
.card a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}
.card:hover {
  background-color: rgb(62, 62, 62);
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
  box-shadow: 7px 7px 10px rgb(10, 9, 9);
}
