* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f4f7;
}

/* translation box style */
.trans {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 150px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: auto;
  width: 100%;
}

#btn:hover {
  background-color: #0056b3;
}

/* ressult style */
.result {
  margin: 20px auto 0;
  text-align: center;
  font-size: 18px;
  color: green;
}