body {
  height: 2000px;
}

footer {
  position: fixed;
  bottom: 1px;
  width: 96%;
  height: 60px;
  padding: 10px;  
  background-color: rgba(18, 93, 255, 0.905);
  color: white;
  text-align: center;
  border-radius: 8px;
}

.scroll-top {
      position: fixed;
      bottom: 100px;
      right: 30px;
       
      background-color: #333;
      color: #fff;
      padding: 12px 19px;
      border-radius: 50%;
      text-decoration: none;
      font-size: 20px;
    }