
body{
    font-family:  Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(214, 124, 60, 0.799);
}  
input{
    border: 3px solid rgba(0, 0, 0, 0.809) ;
    border-radius: 10px;
    width: 190px;
    height: 25px;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.887);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Click1{
    margin-top: 40px;
    margin-right: 40px;
    border: 2px solid rgba(0, 0, 0, 0.754);
    border-radius: 10px;
    background-color: wheat;
    color: black;
    width: 150px;
    height: 45px; 
    float: right;
}
button:hover{
    width: 170px;
    height: 5vh;
    opacity: .9;
}
h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    color: rgba(214, 124, 60, 0.799);
}
