body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
header,footer{
  background-color: #333;
  color: white;
  padding: 20px;  
}
header{
  display: flex;
  align-items: center;
}

footer{
  text-align: center;
}
img {
  width: 200px;
  height: auto;
  margin-right: 400px;
  border-radius: 50%;
}
#header-text{
  text-align: center;
}
nav{
  text-align: center;
  padding: 20px;
  color: #333;
  background-color:#f4f4f4;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li{
  display: inline;
  margin:0px 15px;
}
a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
a:hover {
  color: rgb(0, 136, 255);
  font-size: 17.6px;
  padding-top: 2px;
}
section {
  padding: 20px;
  border-bottom: 2px solid #ddd;
  border-radius: 10px;
 }

section:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
} 





