body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #1c0808;
  padding: 15px 0;
}

.nav-links {
  display: flex;
   justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-links a:hover {
  color: #00bcd4;
}
