* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f4f7;
}

.container {
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo h2 {
    color: #0866ff;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 20px;
}

.logo {
    height: 200px;
    font-size: 30px;
}

.login-form {
    background-color: #ffffff;
    padding: 30px;
    height: 300px;
    border-radius: 10px;
    width: 390px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form a {
    text-decoration: none;
}

.login-form input:focus {
    border-color: #0866ff;
    outline: none;
}

.login-form button {
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
}

.text-edit {
    text-align: center;
    margin-top: 12px;
}

.text-edit p span {
    color: black;
    font-weight: 600;
    cursor: pointer;
}