*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 5000px;
background: linear-gradient(to right, #434343, #000000);

}
.navbar{
    width: 100%;
    margin-top: 10px;
    background-color: #353232;
    padding: 20px;
}
.navbar ol{
    display:flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar ol li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.navbar ol li a:hover{
    background-color: #007bff;
    color: white;
}
.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.back-to-top:hover{
    background-color: #0056b3;
}